* {
    margin: 0;
    padding: 0;
}

.R {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url('../img/學餐.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.mc {
    
    background-repeat: no-repeat;
    background-image: url("../img/P1.webp");
}
   

.mc:hover {
    background-image: url("../img/麥當勞.png");
    background-size: 100% auto;
    color: transparent;
    background-position: center;
   font-size: 45px;

}

.st {
    background-size: 100% auto;
    background-repeat: no-repeat;
   
}

.st:hover {
    background-image: url("../img/星巴克.png");
    color: transparent;
    background-position: center;
    font-size: 45px;
}

.pop {
    background-size: 100% auto;
    background-repeat: no-repeat;
    
}

.pop:hover {
    background-image: url("../img/路人甲.png");
    color: transparent;
    background-position: center;
    font-size: 45px;
}

.eat {
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.eat:hover {
    background-image: url("../img/吃的店.png");
    color: transparent;
    background-position: center;
    font-size: 40px;
}

.afternoon {
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.afternoon:hover {
    background-image: url("../img/飲料店.png");
    color: transparent;
    background-position: center;
    font-size: 45px;
}

.different {
    background-size: 100% auto;
    background-repeat: no-repeat;
  
}

.different:hover {
    background-image: url("../img/吃的店.png");
    color: transparent;
    background-position: center;
    font-size: 40px;
}

.fish {
    background-size: 100% auto;
    background-repeat: no-repeat;
    
}

.fish:hover {
    background-image: url("../img/吃的店.png");
    color: transparent;
    background-position: center;
    font-size: 45px;
}

.local {
    background-size: 100% auto;
    background-repeat: no-repeat;
   
}

.local:hover {
    background-image: url("../img/吃的店.png");
    color: transparent;
    background-position: center;
    font-size: 40px;
}

.pp {
    writing-mode: vertical-lr;
    margin: 55px;
    font-size: 40px;
    font-weight: bolder;

}

.L {
    width: 50%;
    float: left;
    text-align: center;
    
}

.返回 {
    position: fixed;
    right: 0;
    width: 5%;
    bottom: 0;
    margin: 10px;
}

a {
    color: inherit;
    /* 移除超連結顏色 */
    text-decoration: none;
    /* 移除超連結底線 */
}

.TEXT {
   /* background-color: rgba(255, 255, 0, 0.2);*/
    border-radius: 10px;
    font-size: 30px;
    margin: 20%;
   margin-left: 1px;
    color:black;

}