body {
    background-color: rgba(0, 0, 0, 0.733);
    background-image: url("../img/海浪-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.mc {
    width: 300px;
    height: 300px;
    margin: 30px 0px 0px 150px;


}
.img {
    width: 200px;
    height: 200px;
    margin: 30px 0px 0px 80px;


}

.T {
    font-size: 65px;
    margin: 20px 0px 0px 165px;
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 335px;
    top: 55px;
}

.partone {
    position: relative;
    margin: 30px 0px 0px 80px;
    float: left;

}

.tt {
    position: absolute;
    left: 485px;
    top: 180px;
    font-size: 200%;
    color: rgb(80, 59, 19);
    font-weight: bolder;
    background-color: rgba(241, 239, 239, 0.829);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: auto;
}

.text {
    float: left;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    color:rgb(80, 59, 19);
    font-weight: bolder;
    border-radius: 10px;
    background-color: rgba(241, 239, 239, 0.829);

}

ol {
    border: 2px dotted orange
}

li {
    margin: 3px;
    width: 1px;
    border-right-style: solid;
    border-right-color:rgba(83, 178, 207, 0.945);
    border-radius: 10px;

}

@keyframes bar1 {
    from {
        border-right-width: 0px;
        color: transparent;
    }

    to {
        border-right-width: 550px;
        color: white;
    }
}

@keyframes bar2 {
    from {
        border-right-width: 0px;
        color: transparent;
    }

    to {
        border-right-width: 450px;
        color:white;
    }
}

@keyframes bar3 {
    from {
        border-right-width: 0px;
        color: transparent;
    }

    to {
        border-right-width: 300px;
        color: white;
    }
}

#very {
    animation: bar1 5s ease;
    border-right-width: 550px;
    color: white;
}

#alittle {
    animation: bar2 5s ease-out;
    border-right-width: 450px;
    color:white;
}

#busy {

    animation: bar3 5s ease-in;
    border-right-width: 300px;
    color: white;
}

.返回 {
    position: fixed;
    right: 0;
    width: 5%;
    bottom: 0;
    margin: 10px;
}